@model net_il_mio_fotoalbum.Models.Category

@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="text-end">
    <a class="btn btn-primary me-2" asp-action="Index">Return to List</a>
</div>
<div class="container-fluid py-3 my-3 shadow sweet-delete-target-wrapper rounded-2 border">

    <dl class="row mb-3">
        <dt class="col-sm-2 sweet-delete-target-title">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2 sweet-delete-target-title">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <div class="d-flex justify-content-center">

        <a href="@Url.Action("Edit","Category", new {id = Model.Id})" class="btn btn-warning px-2 me-2">
            Modify <i class="fa-solid fa-pen-to-square"></i>
        </a>

        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger btn-sweet-delete px-2 me-2">
                Delete <i class="fa-solid fa-trash"></i>
            </button>
        </form>

    </div>

</div>
    <partial name="Admin/Partials/_DeleteModal" />

    @section Scripts {
        <script src="~/js/sweet-delete.js"></script>
    }
