@{
    ViewData["Title"] = "Message List";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

@model List<Message>

<div class="border rounded-2 p-3 my-3 bg-white shadow">
    @if(Model.Count() == 0)
    {
        <p>Your inbox is empty!</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="d-none d-md-table-cell">Body</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Message message in Model)
                {
                    <tr class="sweet-delete-target-wrapper">
                        <th scope="row" class="sweet-delete-target-title">@message.Id</th>
                        <td>@message.Email</td>
                        <td class="d-none d-md-table-cell">@message.Body</td>
                        <td>
                            <div class="d-flex flex-row">

                                <a href="@Url.Action("Details","Category", new {id = message.Id})" class="btn btn-outline-info me-2">
                                    <i class="fa-solid fa-eye"></i>
                                </a>

                                <form asp-action="Delete" asp-route-id="@message.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-danger btn-sweet-delete w-100">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>

                            </div>
                        </td>
                    </tr>  
                }
            </tbody>
        </table>
    }
</div>
<partial name="Admin/Partials/_DeleteModal"/>

@section Scripts {
    <script src="~/js/sweet-delete.js"></script>
}

